APP_NAME=BiblioTech
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=mysql-houdaifa.alwaysdata.net
DB_PORT=3306
DB_DATABASE=houdaifa_bibliotech
DB_USERNAME=houdaifa
DB_PASSWORD=

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=database
CACHE_PREFIX=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

SANCTUM_STATEFUL_DOMAINS=

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@bibliotech.com"
MAIL_FROM_NAME="${APP_NAME}"
